//Light mode colors
$LM-primary-background-color: #9ed9f5;
$LM-secondary-background-color: #9ab3d3;
$LM-background: #eaf5ff;
$primary-text-color: #010108;

//Dark mode colors
$DM-primary-background-color: #0e0e4e;
$DM-secondary-background-color: #643491;
$DM-background: #040414;
$invert-text-color: #e9e9e9;

//CTA color
$CTA-color: #fdfb89;

//Cookie-color
$cookie-background-color: #5b3efc;
$agree-color: #01aa01;
$disagree-color: #c00303;
$cookie-text-color: #f0f0f0;

//Disabled color
$disabled-color: #c2c2c2;
$disabled-text-color: #4d4d4d;

//Placeholder text
$placeholder-color: #4a4a4a;

//Border color
$border-color: #317dc4;
$DM-border-color: #fdfb89;

//Spacing (padding/margin)
$spacing-xxsm: 0rem;
$spacing-xsm: .5rem;
$spacing-sm: 1rem;
$spacing-m: 2rem;
$spacing-l: 3rem;
$spacing-xl: 4rem;
$spacing-xxl: 5rem;
$spacing-xxxl: 6rem;

//Border-radius
$border-radius-s: 10px;
$border-radius-m: 20px;
$border-radius-l: 30px;

// //Media querys
$media-query-s: 50px;
$media-query-m: 680px;
$media-query-l: 960px;